<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="layui-layer layui-layer-tips"
     id="layui-layer16" type="tips" times="16" showtime="3000" contype="object" style="z-index: 19891030; position: absolute; left: 120px; top: 405px;">
    <div id="" class="layui-layer-content">
        按住alt+b可快速编辑
        <i class="layui-layer-TipsG layui-layer-TipsR"></i>
    </div>
    <span class="layui-layer-setwin"></span>
</div>
</body>
</html>