body{
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

.head{
    width: 100%;
    height: 56px;
    /*position: fixed;*/
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
}

.head nav{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

nav .logo{
    float: left;
}
nav .logo span{
    color: #F0725C;
    font-size: 26px;
    line-height: 56px;
}

nav .menu{
    margin-left: 150px;
    float: left;
    list-style: none;
    overflow: hidden;
}
nav .menu li{
    float: left;
    /*height: 56px;*/
    line-height: 56px;
    /*padding: 5px;*/
    box-sizing: border-box;
    margin-right: 30px;
    font-size: 17px;
    color: #333;
    cursor: pointer;
}
nav .menu li a{
    color: #333;
}
nav .menu li:nth-of-type(4){
    margin-left: 50px;
}
nav .menu li input{
    width: 170px;
    height: 35px;
    padding: 2px;
    text-indent: 1em;
    background-color: hsla(0,0%,71%,.1);
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #d2d2d2;
    border-radius: 20px;
}
nav .menu li input:focus{
    outline: 0;
}

nav .pub-essay{
    float: right;
    margin-right: 150px;
    padding-top: 10px;
}
nav .pub-essay button{
      position: relative;
      display: block;
      width: 120px;
      height: 35px;
      border: none;
      outline: none;
      letter-spacing: .2em;
      font-weight: bold;
      background: #F0725C;
      cursor: pointer;
      overflow: hidden;
      user-select: none;
      border-radius: 20px;
      color: #fff;
}
nav .user-box{
    float: right;
    overflow: hidden;
    height: 56px;
    line-height: 56px;
}
nav .user-box .user-avator{
    width: 44px;
    height: 44px;
    float: left;
    margin-top: 6px;

}
nav .user-box .user-avator img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
nav .user-box .user-info{
    float: left;
    margin-left: 8px;
}
nav .user-box .user-info a{

}