<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/essay/init.min.css">
    <link rel="stylesheet" href="../../static/css/back/sql.css">
    <script src="../../static/js/jquery-3.1.1.min.js"></script>
    <script src="../../static/layer/layer.js"></script>
</head>
<body>
<div class="head"></div>
<div class="body">
    <h1>SQL接口:</h1>
    <textarea name="" id=""></textarea>
    <table class="result-table">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>
</body>
</html>