<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/essay_detail.css">
</head>
<body>
    <!--<div class="head">-->
        <!--<div class="head-wrapper"></div>-->
    <!--</div>-->
    <!--<div class="body">-->
        <!--<div class="body-wrapper">-->
            <!--<h3>外包，你是外包不是正式员工，麻烦不要随便吃公司零食</h3>-->
            <!--<h4>Hybrid混合数字降噪，强力消噪</h4>-->
            <!--<p>小米降噪项圈蓝牙耳机采用Hybrid混合数字主动降噪技术，通过前馈麦克风和后馈麦克风的联合应用，能更全面地捕捉噪音。针对不同的使用场景，小米降噪项圈蓝牙耳机设计了两档降噪档位。弱降噪档位适用于部分生活场景，如商场、街道、办公室等，隔绝环境噪音的同时，能够保留部分人声。如果经常需要出差，强</p>-->
        <!--</div>-->
    <!--</div>-->

<div class="head">
    <div class="nav">
        <div class="logo-group">
            <span>自书</span>
        </div>
        <ul class="menu">
            <li>发现</li>
            <li>关注</li>
            <li>消息</li>
            <li><input type="text" placeholder="搜索"></li>
        </ul>
    </div>
    <div>
        <div class="btn btn-pay">赞赏支持</div>
    </div>
    <div class="author">
        <span>日记本</span>
        <span>举报文章</span>
        <span>
          © 著作权归作者所有
        </span>
    </div>
    <div class="pub-comment">
        <a href=""><img src="https://gss1.bdstatic.com/-vo3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=397816053ffa828bd1239ae5c5242609/54fbb2fb43166d22ca0c87944a2309f79052d2b3.jpg" alt=""></a>
        <textarea placeholder="写下你的评论" name="" id=""></textarea>
        <div class="write-comment">
            <button>发送</button>
        </div>
    </div>
    <div class="comment-title">
        <span>精彩评论（6）</span>
    </div>
    <ul class="ul">
        <li>
            <div class="authour-wrapper">
                <div class="avator"><img src="https://gss1.bdstatic.com/-vo3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=397816053ffa828bd1239ae5c5242609/54fbb2fb43166d22ca0c87944a2309f79052d2b3.jpg" alt=""></div>
                <div class="info">
                    <a href="">robin_uphero</a>
                    <div class="meta"><span>7楼 · 2019.04.08 05:49</span></div>
                </div>
            </div>
            <div class="comment">
                <p>这个叫劳务派遣合同工，或</p>
            </div>
            <div class="tool-group">
                <a href="">赞</a>
                <a href="">回复</a>
            </div>
        </li>
        <li>
            <div class="authour-wrapper">
                <div class="avator"><img src="https://gss1.bdstatic.com/-vo3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=397816053ffa828bd1239ae5c5242609/54fbb2fb43166d22ca0c87944a2309f79052d2b3.jpg" alt=""></div>
                <div class="info">
                    <a href="">robin_uphero</a>
                    <div class="meta"><span>7楼 · 2019.04.08 05:49</span></div>
                </div>
            </div>
            <div class="comment">
                <p>这个叫劳务派遣合同工，或者第三方派遣合同用工吧。能用得上这种合同的公司能为了一点零食吵吵的基本也就是一帮在公司闲得蛋疼的行政部门。</p>
            </div>
            <div class="tool-group">
                <a href="">赞</a>
                <a href="">回复</a>
            </div>
        </li>
        <li>
            <div class="authour-wrapper">
                <div class="avator"><img src="https://gss1.bdstatic.com/-vo3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=397816053ffa828bd1239ae5c5242609/54fbb2fb43166d22ca0c87944a2309f79052d2b3.jpg" alt=""></div>
                <div class="info">
                    <a href="">robin_uphero</a>
                    <div class="meta"><span>7楼 · 2019.04.08 05:49</span></div>
                </div>
            </div>
            <div class="comment">
                <p>这个叫劳务派遣合同工，或者第三方派遣合同用工吧。能用得上这种合同的公司能为了一点零食吵吵的基本也就是一帮在公司闲得蛋疼的行政部门。</p>
            </div>
            <div class="tool-group">
                <a href="">赞</a>
                <a href="">回复</a>
            </div>
        </li>
    </ul>
</div>
</body>
</html>