<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>字抒</title>
    <link rel="stylesheet" href="../../css/essay/init.min.css">
    <link rel="stylesheet" href="../../css/essay/baseindex.css">
    <!--<link rel="stylesheet" href="../../css/essay/essay_index.css">-->
    <script src="../../js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div class="head">
        <nav>
            <a href="" class="logo">
                <span>字抒</span>
            </a>
            <ul>
              <li><a href="#">首页</a></li>
              <li><a href="#">发现</a></li>
              <li>
                <a href="#">消息(<span style="color:red">9</span>)</a>
              </li>
              <li><input type="text"></li>
            </ul>
            <a href="" class="pub-essay">
                <button>写文章</button>
            </a>
            <div class="user-box">
                <div class="user-avator">
                    <img src="" class="user-img">
                </div>
                <div class="user-info">
                    <a class="dropdown-toggle">杰克</a>
                </div>
            </div>
        </nav>
    </div>
    <script>
        $(function(){
            // $(".dropdown-toggle").hover(function(){$(this).find(".dropdown-menu").show()},function(){$(this).find(".dropdown-menu").hide()});
            $(".dropdown-toggle").click(function(){
                console.log("running");
                $(this).siblings(".dropdown-menu").eq(0).show();
            })
        })
    </script>
</body>
</html>