<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/essay/init.min.css">
    <link rel="stylesheet" href="../../static/css/essay/baseindex.css">
</head>
<body>
    <div class="head">
        <nav>
            <a href="" class="logo">
                <span>字抒</span>
            </a>
            <ul class="menu">
              <li><a href="#">首页</a></li>
              <li><a href="#">发现</a></li>
              <li>
                <a href="#">消息(<span style="color:red">9</span>)</a>
              </li>
              <li><input type="text" placeholder="搜索"></li>
            </ul>

            <div class="user-box">
                <div class="user-avator">
                    <img src="../../static/images/default.jpg" class="user-img">
                </div>
                <div class="user-info">
                    <a class="dropdown-toggle">杰克曼</a>
                </div>
            </div>
            <a href="" class="pub-essay">
                <button>写文章</button>
            </a>
        </nav>
    </div>
    <div class="body">
        <div class="main">
            <div class="ue-group">
                <ul>
                    <li class="ueditor">标题</li>
                    <li class="ueditor">内容</li>
                    <li class="ueditor">图片</li>
                    <li class="ueditor">链接</li>
                    <li class="ueditor">颜色</li>
                </ul>
            </div>
        </div>

    </div>

</body>
</html>