<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>字抒 - 创作你的创作</title>
    <link rel="stylesheet" href="../../static/css/essay/init.min.css">
    <link rel="stylesheet" href="../../static/css/essay/baseindex.css">
    <link rel="stylesheet" href="../../static/css/back/common.css">
    <link rel="stylesheet" href="../../static/css/essay/pub_essay.css">
    <script src="../../static/js/jquery-3.1.1.min.js"></script>
    <script src="../../static/js/common.js"></script>
</head>
<body>
    <div class="head">
        <nav>
            <a href="" class="logo">
                <span>字抒</span>
            </a>
            <ul class="menu">
              <li><a href="#">首页</a></li>
              <li><a href="#">发现</a></li>
              <li class="down-box">
                  <a class="down-toggle">消息(<span style="color:red">9</span>)</a>
                  <ul class="down-menu sub-menu">
                      <li>通知</li>
                      <li>评论(<span style="color: red">3</span>)</li>
                      <li>关注</li>
                  </ul>
              </li>
                <li><a href="#">more</a></li>
            </ul>
            <div class="search"><input type="text" placeholder="搜索一下"></div>
            <div class="user-box">
                <div class="user-avator">
                    <img src="../../static/images/default.jpg" class="user-img">
                </div>
                <div class="user-info down-box">
                    <a class="dropdown-toggle">杰克曼</a>
                    <ul class="down-menu sub-menu">
                        <li><a href="">我的主页</a></li>
                        <li><a href="">我的文章</a></li>
                        <li><a href="">我的收藏</a></li>
                        <li><a href="">我的关注</a></li>
                        <li><a href="">退出</a></li>
                    </ul>
                </div>
            </div>
            <a href="" class="pub-essay">
                <button>写文章</button>
            </a>
        </nav>
    </div>
    <div class="body">
        <div class="main">
            <div class="form-wrapper">
                <div class="title-box">
                    <label>文章标题</label>
                    <input type="text" class="input-group">
                </div>
                <div class="category-box">
                    <label>文章分类</label>
                    <select name="category" class="input-group">
                        <option value="deep">深度</option>
                        <option value="hot">热门</option>
                        <option value="technology">科技</option>
                        <option value="fun">娱乐</option>
                    </select>
                </div>
                <div class="thumbnail-box">
                    <label class="thumbnail-label">上传缩略图</label>
                    <div class="input-group upload-box">
                        <input type="text" name="thumbnail"><label class="com-btn primary">点击上传<input type="file" hidden></label>
                    </div>
                </div>
                <div class="content-box">
                    <label>编辑内容</label>
                    <div class="button-box">
                        <button id="mark-button" class="com-btn info">标记式编辑</button><button id="inter-button" class="com-btn">交互式编辑</button>
                        <button class="com-btn pub-essay-btn main-color">发布文章</button>
                    </div>
                    <div class="ue-mark-box">
                        <div class="ue-mark-menu">
                            <ul>
                                <li class="ueditor ue-mark-title">标题</li>
                                <li class="ueditor ue-mark-content">内容</li>
                                <li class="ueditor ue-mark-code">代码</li>
                                <li class="ueditor ue-mark-img">图片</li>
                                <li class="ueditor ue-mark-list">列表</li>
                                <li class="ueditor ue-mark-color">颜色</li>
                                <li class="ueditor ue-mark-link">链接</li>
                                <li class="ueditor ue-mark-font">字体</li>
                                <li class="ueditor ue-mark-bold">加粗</li>
                            </ul>
                        </div>
                        <textarea name="content-desc" placeholder="写完记得格式刷一下哦"></textarea>
                    </div>
                    <div class="ue-inter-box">
                        <div class="ue-inter-menu">
                            <ul>
                                <li class="ueditor-inter ue-inter-title">标题</li>
                                <li class="ueditor-inter ue-inter-content">内容</li>
                                <li class="ueditor-inter ue-inter-code">代码</li>
                                <li class="ueditor-inter ue-inter-img"><label>图片<input type="file" name="ue-inter-img" hidden></label></li>
                                <li class="ueditor-inter ue-inter-list">列表</li>
                                <li class="ueditor-inter ue-inter-color">颜色</li>
                                <li class="ueditor-inter ue-inter-link">链接</li>
                                <li class="ueditor-inter ue-inter-font">字体</li>
                                <li class="ueditor-inter ue-inter-bold">加粗</li>
                                <li class="ue-inter-type">
                                    <span class="style-a"></span><span class="style-b"></span><span class="style-c"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="preview-box">
                            <div class="preview-title">正文预览</div>
                            <div class="content-content"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="write-content-box">
                <div class="mask"></div>
                <div class="vide">
                    <p class="title">编辑文本</p>
                    <textarea name="temp-content" class="temp-content"></textarea>
                    <div>
                        <button class="com-btn info submit-btn">确定</button>
                        <button class="com-btn warnning channel-btn">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            //编辑方式切换
            $("#mark-button").click(function(){
                $(this).siblings().removeClass("info");
                $(this).addClass("info");
                $(".ue-inter-box").animate({"opacity":0}, 200);
                $(".ue-inter-box").hide();
                $(".ue-mark-box").show();
                $(".ue-mark-box").animate({"opacity":1}, 200);
            });
            $("#inter-button").click(function(){
                $(this).siblings().removeClass("info");
                $(this).addClass("info");
                $(".ue-mark-box").animate({"opacity":0}, 200);
                $(".ue-mark-box").hide();
                $(".ue-inter-box").show();
                $(".ue-inter-box").animate({"opacity":1}, 200);
            });

            /*交互式风格事件*/
            //ue菜单跟随scroll移动

            //编辑器关闭方法
            $(".channel-btn").click(function(){
                $(".vide").css({"transform":"scale(0)"});
                $(".temp-content").val("");
                $(".vide").hide();
            });
            //编辑器打开方法
            function openBox(what){
                switch (what){
                    case "标题":
                        break;
                    case "内容":
                        break;
                    case "代码":
                        break;
                    case "列表":
                        return false;
                    case "图片":
                        return;
                    case "颜色":
                        return false;
                    case "链接":
                        return false;
                    case "字体":
                        return false;
                    case "加粗":
                        return false;
                    default:
                        return false;
                }
                $(".vide").find("p").eq(0).text("编辑" + what);
                $(".vide").show();
                $(".vide").css({"transform":"scale(1)"});
                $(".temp-content").focus();

            };

            //编辑器提交方法
            function submitBox(what){
                var content = $(".temp-content").eq(0).val();
                content = content.replace(/ /igm,"&nbsp;");
                content = content.replace(/\n/igm,"<br>");
                switch (what){
                    case "标题":
                        var box = $("<h3>" + content + "</h3>");
                        break;
                    case "内容":
                        var box = $("<p>" + content + "</p>");
                        break;
                    case "代码":
                        var box = $("<code>" + content + "</code>");
                        break;
                    case "列表":
                        return false;
                    case "图片":
                        return false;
                    case "颜色":
                        return false;
                    case "链接":
                        return false;
                    case "字体":
                        return false;
                    default:
                        return false;
                }
                //box绑定操作按钮
                var a = $("<a class='edit-span-box'></a>");
                var upSpan = $("<span class='up-span primary'>▲</span>");
                var downSpan = $("<span class='down-span info'>▼</span>");
                var editSpan = $("<span class='edit-span warnning'>☰</span>");
                var removeSpan = $("<span class='remove-span dangerous'>X</span>");
                $(a).append($(upSpan));
                $(a).append($(downSpan));
                $(a).append($(editSpan));
                $(a).append($(removeSpan));

                $(".content-content").append($(box));
                $(box).append($(a));
                $(".vide").css({"transform":"scale(0)"});
                $(".temp-content").val("");
                $(".vide").hide();

            }

            //事件区
            //关闭按钮事件
            $(".channel-btn").click(function(){
                $(".vide").css({"transform":"scale(0)"});
                $(".temp-content").val("");
                $(".vide").hide();
            });
            //按钮点击打开
            $(".ueditor-inter").click(function(){
                var what = $(this).text();
                openBox(what);
            });
            //键盘快速打开
            $(document).keydown(function(event){
                var e = event || ev;
                // var k = e.keyCode || e.which;
                var what;
                if(e.altKey && e.keyCode == 66){
                    what = "标题";
                }else if(e.altKey && e.keyCode == 78){
                    what = "内容";
                }else if(e.altKey && e.keyCode == 68){
                    what = "代码";
                }else if(e.altKey && e.keyCode == 84){
                    what = "列表";
                }else if(e.altKey && e.keyCode == 76){
                    what = "图片";
                }else if(e.altKey && e.keyCode == 89){
                    what = "颜色";
                }else if(e.altKey && e.keyCode == 65){
                    what = "链接";
                }else if(e.altKey && e.keyCode == 90){
                    what = "字体";
                }else if(e.altKey && e.keyCode == 74){
                    what = "加粗";
                }else if(e.altKey && e.keyCode == 13){
                    what = $(".submit-btn").parent().siblings("p").text().slice(2, 4);
                    submitBox(what);
                    return;
                }else{
                    what = "";
                }
                openBox(what);
            });

            //提交按钮事件
            $(".submit-btn").click(function(){
                var what = $(this).parent().siblings("p").text().slice(2, 4);
                submitBox(what);
            });

        })
    </script>
</body>
</html>