<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置 - 个人资料</title>
    <link rel="stylesheet" href="../../static/css/essay/init.min.css">
    <link rel="stylesheet" href="../../static/css/essay/baseindex.css">
    <link rel="stylesheet" href="../../static/css/essay/user_info.css">
    <link rel="stylesheet" href="../../static/css/back/common.css">
    <script src="../../static/js/jquery-3.1.1.min.js"></script>
    <script src="../../static/js/common.js"></script>
    <script src="../../static/layer/layer.js"></script>
</head>
<body>
    <div class="head">
        <nav>
            <a href="" class="logo">
                <span>字抒</span>
            </a>
            <ul class="menu">
              <li><a href="#">首页</a></li>
              <li><a href="#">发现</a></li>
              <li class="down-box">
                  <a class="down-toggle">消息(<span style="color:red">9</span>)</a>
                  <ul class="down-menu sub-menu">
                      <li>通知</li>
                      <li>评论(<span style="color: red">3</span>)</li>
                      <li>关注</li>
                  </ul>
              </li>
                <li><a href="#">more</a></li>
            </ul>
            <div class="search"><input type="text" placeholder="搜索一下"></div>
            <div class="user-box">
                <div class="user-avator">
                    <img src="../../static/images/default.jpg" class="user-img">
                </div>
                <div class="user-info down-box">
                    <a class="dropdown-toggle">杰克曼</a>
                    <ul class="down-menu sub-menu">
                        <li><a href="">我的主页</a></li>
                        <li><a href="">我的文章</a></li>
                        <li><a href="">我的收藏</a></li>
                        <li><a href="">我的关注</a></li>
                        <li><a href="">退出</a></li>
                    </ul>
                </div>
            </div>
            <a href="" class="pub-essay">
                <button>写文章</button>
            </a>
        </nav>
    </div>
    <div class="body">
        <div class="main-wrapper">
            <div class="aside"></div>
            <div class="main">
                <div class="user-group">
                    <div class="user-avator">
                        <img src="../../static/images/default.jpg">
                    </div>
                    <button>更换头像</button>
                </div>
                <div class="form-group">
                    <label>昵称</label>
                    <input type="text">
                </div>
                <div class="form-group">
                    <label>电子邮件</label>
                    <input type="text">
                </div>
                <div class="form-group">
                    <label>手机</label>
                    <input type="text">
                </div>
                <div class="form-group">
                    <label>个人简介</label>
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
</body>
</html>